@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a.active {
    color: rgb(145, 87, 32);
    border-bottom: 4px solid darkgreen;
  }
  .drawer-side a {
    background-color: transparent;
  }

  .navItem a.active {
    background-color: rgb(87, 94, 13);
    
  }

  /* .container{
    display: flex;
  }
  .container .paragraph{
    margin-bottom: 26px;
    text-align:start;
  }
  @media screen and (min-width:440px){
    .container .paragraph .button{
      display: block;
    }
  } */

  .thumbs{
    display: none;
}