@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a.active {
    color: rgb(145, 87, 32);
    border-bottom: 4px solid darkgreen;
  }
  .drawer-side a {
    background-color: transparent;
  }

  .navItem a.active {
    background-color: rgb(87, 94, 13);
    
  }

  

  .thumbs{
    display: none;
}
body{
  overflow-x:hidden;
  /* overflow-y :hidden; */
}